* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
  background-color: rgb(242,242,242);
}
#par1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  font-style: oblique;
  color: brown;
  margin-bottom: 25px;
  text-align: center;
}